/* DM Sans & Inter */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark, garden;
}
@plugin "daisyui/theme" {
    name: "garden";
    default: true;
    --color-primary: #ff4d00;
    --color-secondary: #f5f5f5;
}

body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
}

li a.active {
    /* background-color: #FF4D00; */
    background: linear-gradient(to right, #ffae00, #ff8a00);
    color: white;
}

li a:hover {
    background: linear-gradient(to right, #ffae00, #ff8a00);
    color: white;
}

.dashlink li a {
    border-radius: 24px 0 0 24px;
}

.dashlink li a.active {
    color: white;
    background: linear-gradient(to right, #ffae00, #ff8a00);
}

.dashlink li a:hover {
    background: linear-gradient(to right, #ffae00, #ff8a00);
    color: white;
}

.background {
    background-image: url("/src/assets/meal-1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.meals-btn button.active {
    color: white;
    background: linear-gradient(to right, #ffae00, #ff8a00);
}
