@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, dark, garden;
}
@plugin "daisyui/theme" {
    name: "garden";
    default: true;
    --color-primary: #FF4D00;
    --color-secondary: #F5F5F5;
}

li a.active{
    /* background-color: #FF4D00; */
    background: linear-gradient(to right, #FFAE00, #FF8A00);
    color: white;
}

li a:hover{
    background: linear-gradient(to right, #FFAE00, #FF8A00);
    color: white;
}

.dashlink li a{
    border-radius: 24px 0 0 24px;
}

.dashlink li a.active{
    color: white;
    background: linear-gradient(to right, #FFAE00, #FF8A00);
}

.dashlink li a:hover{
    background: linear-gradient(to right, #FFAE00, #FF8A00);
    color: white;
}

.background{
    background-image: url('/src/assets/meal-1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}